.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.search-product {
  width: 330px;
  border-radius: 5px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo p {
  color: #171717;
  font-size: 18px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  color: #626262;
  font-size: 12px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  padding: 8px;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
  font-weight: 800;
  cursor: pointer;
  padding: 8px;
}

.nav-login-cart:hover {
  background: #f3f3f3

}

.colored-text {
  font-size: 15px;
  color: #333333;
  font-weight: 900;
}

.colored-text::first-letter {
  color: #ff0ba3;
}

/* ------------------search component-------------- */

.search-product {
  width: 450px;
  border: 1px solid #ccc; /* Add a very thin border */
  border-radius: 5px;
  padding: 5px; /* Adjust padding as needed */
  font-size: 12px;
  font-weight: 500;
  outline: none;
  margin: 5px;
}

.search-product:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.clear-icon::before {
  content: '\00D7'; /* Unicode character for the multiplication symbol (×) */
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  transform: translateY(-50%);
}

.search-container {
  position: relative;
}

.search-wrapper {
  position: relative;
}

.clear-icon:hover {
  color: rgb(52, 48, 48); /* Adjust color on hover as needed */
}
